.error404-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error404-container h1 {
  font-size: 2rem;
}

.error404-container p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .error404-container h1 {
    font-size: 1.5rem;
  }

  .error404-container p {
    font-size: 1rem;
  }
}
